* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
